@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar a:hover {
  color: #f1356d;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
}

.create input, .create textarea, .create select {
  width: 400px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}